body {
    background-color: lightgray;
}

.thanks {
    margin-top: 160%;
}
/* flex-direction
justify-content
height
 */
#hud {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 40vw;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}
/* margin-bottom*/
.hud-main-text {
    text-align: center;
    margin-bottom: 1rem;
}
/* margin-top*/
@media screen and (max-width: 1600px) {
    header {
        margin-top: -40%;
        font-size: large;
        position: fixed;
    }
}
/* margin-top*/
@media screen and (max-width: 1280px) {
    header {
        margin-top: -50%;
        font-size: large;
        position: fixed;
    }

    * {
        font-size: 60.5%;
    }
}
/* margin-top*/
@media screen and (max-width: 768px) {
    header {
        font-size: large;
        position: fixed;
        margin-top: -30%;
    }

    h1 {
        font-size: 3.4rem;
        margin-bottom: -3rem;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 90%;
    }
    
    * {
        font-size: 40.5%;
    }
    
    header {
        margin-top: -30%;
    }
    
    h1 {
        font-size: 3.4rem;
        margin-bottom: 0rem;
    }
}