body {
    background-color: lightgray;
}

.thanks {
    margin-top: 160%;
}

#hud {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 5vw;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}