body {
    background-color: lightgray;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: lightblue;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 lightblue;
    transform: scale(1.02);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: black;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* Heads up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-item-1 {
    margin-right: -50%;
}
.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

header {
    font-size: xx-large;
    position: fixed;
    margin-top: -45%;
}

@media screen and (max-width: 1600px) {
    header {
        font-size: large;
        position: fixed;
        margin-top: -50%;
    }

    * {
        font-size: 59.5%;
    }
}

@media screen and (max-width: 1280px) {
    header {
        margin-top: -60%;
    }
    
    * {
        font-size: 57.5%;
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: large;
        position: fixed;
        margin-top: -45%;
    }

    * {
        font-size: 50.5%;
    }
    
    h1 {
        font-size: 3.4rem;
    }
    
    .hud-item-1 {
        margin-right: -30%;
    }

    .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 95%;
    }
    
    * {
        font-size: 21.5%;
    }
    
    header {
        margin-top: -55%;
    }
    
    h1 {
        font-size: 4.4rem;
        margin-bottom: 8rem;
    }
    
    .choice-container {
        font-size: 12rem;
    }
    
    .hud-prefix {
        font-size: 3rem;
    }
}